<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>哪都通登录</title>
	<link rel="shortcut icon" href="./img_head/ico/ico.ico" type="image/x-icon">
	<script type="text/javascript" src="./js/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="./element-ui/lib/theme-chalk/index.css">
	<script type="text/javascript" src="./element-ui/lib/index.js"></script>
	<script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="./js/axios.js"></script>
  	<script type="text/javascript" src="./js/login.js"></script>
	<style type="text/css">
	.el-header,.el-footer {
     background-color: #E6A23C;
      width: 100%; 
   }
   .el-main{
    background-color: white;
    width: 100%;
    height: 500px;
   }
   .el-footer p{
      text-align: center;
    }
    #div1{
    	float: left;
    	margin-left: 100px;
    	width: 500px;
    	height: 400px;
    	background-color:#DCDFE6;
		margin-top: 30px;
		border-radius: 30px;
    }
    #div2{
    	margin-left: 100px;
    	float: left;
    	width: 500px;
    	height: 400px;
		margin-top: 30px;
    }
    #div3{
    	background-color:white;
    	float: left;
		margin-top: 50px;
    }
    li{
    	float: left;
    	list-style: none;
  		text-align: center;
  		vertical-align: middle;
  		font-size: 18px;
  		font-weight: bold;
  		color: white;
  		padding-top: 10px;
    	width: 250px;
    	height: 40px;
    	margin-top: 20px;
    	background-color: #E6A23C;
    	margin-top: -20px;
    }
    li:first-child{
    	margin-left: -40px;
    }
    #user{
    	margin-top: 20px;
    	float: left;
    	width: 500px;
    	height: 200px;
    }
	#phone{
		float: left;
	}
	.el-form{
		margin-left: 50px;
	}
	</style>
	
</head>
<body>
	<div id="div">
	 {{created()}}
<el-container>
  <el-header>
  	<el-image
      style="width: 100px; height: 60px; float: left; margin-left: -20px;"
      :src="logo"
      :fit="none"></el-image>
      <p style="color: white; float: left; margin-left: 10px;">哪都通，一个什么都做的神秘机构</p>
  </el-header>
  <el-main>
		<div id="div1">
			<div id="div3">
				<ul>
					<li id="u">账号登录</li>
					<li id="p">手机登录</li>
				</ul>
				<div id="user">
			<el-form :model="userForm" status-icon  ref="userForm" size="medium" label-width="100px" style="">
			<span style="color: #F56C6C; font-size: 10px; margin-left: 100px;" >{{err}}</span>
          <el-form-item label="账号" prop="username" :rules="[
           { required: true, message: '用户号不能为空！', trigger: 'blur' },
           { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号'}
          ]" >
          <el-col :span="15">
          <el-input   clearable placeholder="请输入用户名" v-model="userForm.username" ref="uname"></el-input>
          </el-col>
         </el-form-item>

         <el-form-item label="密码" prop="password" :rules="[
          { required: true, message: '密码不能为空！', trigger: 'blur' },
          { min: 6, message: '密码不少于6个长度', trigger: 'blur'}
         ]"> 
         <el-col :span="15">
          <el-input  type="password" clearable placeholder="请输入密码" v-model="userForm.password" @keyup.13="submitForm('userForm')" ref="upwd"></el-input>
          </el-col>
         </el-form-item>
         <el-form-item>
           <el-link type="primary" :underline="false" href="/findPwd" >忘记密码</el-link>
          <el-button  type="primary"  @click="submitForm('userForm')" style="margin-left: 30px;">登录</el-button>
           <el-button @click="regist">注册</el-button>
      </el-form-item>
       </el-form>
				</div>
		<div id="phone">
	<el-form :model="userForm1" status-icon  ref="userForm1" size="medium" label-width="100px">
		  <span style="color: #F56C6C; font-size: 10px; margin-left: 100px;" >{{phoneerr}}</span>
          <el-form-item label="手机号" prop="userphone" :rules="[
           { required: true, message: '手机号不能为空！', trigger: 'blur' },
          { type: 'number', message: '手机号格式错误！', trigger: ['blur', 'change'] },
          { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号'},
          { pattern: /^[1][3|5|7|8|9][0-9]+$/, message: '手机号格式错误'}
          ]">
          <el-col :span="15">
          <el-input  clearable placeholder="请输入手机号" v-model.number="userForm1.userphone" ref="uphone"></el-input>
          </el-col>
          <el-link type="primary" @click="sendPhone" :underline="false" :disabled="disabled">{{code}}</el-link>
          
         </el-form-item>
         <span style="color: #F56C6C; font-size: 10px; margin-left: 100px;" >{{codeerr}}</span>
         <el-form-item label="验证码" prop="c_code" :rules="[
          { required: true, message: '验证码不能为空！', trigger: 'blur' },
          { min: 4, message: '请输入4个长度的验证码', trigger: 'blur'}
         ]"> 
         <el-col :span="15">
          <el-input   clearable placeholder="请输入验证码" v-model="userForm1.c_code" ref="ucode"></el-input>
          </el-col>
         </el-form-item>

         <el-form-item>
          <el-button type="primary" @click="submitForm1('userForm1')">登录</el-button>
           <el-button @click="regist">注册</el-button>
      </el-form-item>
       </el-form>
			</div>
			</div>
		</div>
      <el-dialog title="验证图片" :visible.sync="dialogVisible" width="400px" height="400px">
          <iframe :src="Iframe" frameborder="false" style="height: 280px; width: 100%;"></iframe>
      </el-dialog>
		<div id="div2">
 	<el-image
      
      :src="urlimg"
      :fit="fit"></el-image>
		</div>
  </el-main>
  <el-footer>
    <p style="color: white;">@Copyright 2021 - 2022 侵权必究</p>
  </el-footer>
</el-container>
	</div>
</body>
<script type="text/javascript">
new Vue({
	el:"#div",
	data:{
		logo:"img_head/ico/logo.jpg",
		urlimg:"img/login_back.gif",
		code:"点击获取验证码",
		disabled:false,
        err:"",//用户名登录报错
        codeerr:"",//手机号登录报错
        phoneerr:"",//手机报错
		userForm:{
        	username:"",
        	password:"",
		  },
		userForm1:{
			userphone:"",
        	c_code:"",
		},
        dialogVisible:false,
        Iframe:"/imgverify",
	},
	methods:{
		//键盘登录
		created(){
                var that = this;
                document.onkeydown = function(e){
                    var key = window.event.keyCode;
                    if(key == 13){
                        that.submitForm('userForm');
                        that.submitForm1('userForm1');
                    }
                }
            },
         //账户登录
        submitForm:function(userForm){
                //http://localhost:8066/login
                var that = this;
                this.$refs[userForm].validate((valid) => {
                    if (valid) {
                        axios.post("/loginusername","username="+this.userForm.username+"&password="+this.userForm.password)
                    .then(function(response){
                            if(response.data==true){
                                //location.href="/index";
                                //alert("success");
                                that.Iframe="/imgverify";
                                that.dialogVisible = true;
                                that.err="";
                            } else{
                                that.$refs.uname.focus();
                                that.userForm.username="";
                                that.userForm.password="";
                                that.err=response.data;
                            }
                        },function(err){
                            alert(err);
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //手机登录
            submitForm1:function(userForm1){
                var that = this;
                this.$refs[userForm1].validate((valid) => {
                    if (valid) {
                        axios.post("/loginuserphone","phone="+that.userForm1.userphone+"&code="+that.userForm1.c_code)
                            .then(function(response){
                                if(response.data=="用户不存在,请先注册!"){
                                    that.$refs.uphone.focus();
                                    that.phoneerr = response.data;
                                    that.userForm1.userphone = "";
                                    that.codeerr = "";
                                    that.err = "";
                                }else if(response.data=="验证码不正确!"){
                                    that.$refs.ucode.focus();
                                    that.codeerr = response.data;
                                    that.userForm1.c_code = "";
                                    that.phoneerr = "";
                                    that.err = "";
                                } else{
                                    window.location.href="/main";
                                }
                            },function(err){
                                alert(err);
                            });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
         //发送验证码
		sendPhone:function(){
                var that=this;
                let seconds = 60;
                if(that.userForm1.userphone==""){
                    that.phoneerr="手机号不能为空!";
                    that.codeerr="";
                }else {
                    that.disabled = true;
                    that.code = "已经发送(" + seconds + "s)";
                   // alert(that.userForm1.userphone);
                    axios.post("/loginsendphone", "phone=" + that.userForm1.userphone)
                        .then(function (response) {
                            if (response.data == "用户不存在,请先注册!") {
                               that.phoneerr = response.data;
                               that.codeerr = "";
                               that.$refs.uphone.focus();
                            }else {
                                alert(response.data);
                            }
                        }, function (err) {
                            alert(err);
                        });
                    var time = setInterval(function () {
                        seconds = seconds - 1;
                        that.disabled = true;
                        that.code = "已经发送(" + seconds + "s)";
                        let i = seconds;
                        if (i < 0) {
                            i = 1;
                            clearInterval(time);
                            that.disabled = false;
                            that.code = "点击获取验证码";
                        }
                    }, 1000);
                }
            },
        regist(){
            //window.location.href="/regist";
            this.Iframe="/imgverifyregist";
            this.dialogVisible = true;
        }
	},
})
</script>

</html>