<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理员工</title>
	<link rel="shortcut icon" href="../img_head/ico/ico.ico" type="image/x-icon">
	<script type="text/javascript" src="../js/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="../element-ui/lib/theme-chalk/index.css">
	<script type="text/javascript" src="../element-ui/lib/index.js"></script>
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../js/axios.js"></script>
	<style type="text/css">
	#order1{
		width: 1050px;
		height: 500px;
		background-color: #E6A23C;
		border-radius: 30px;
	}
	#order2{
		float: left;
		width: 1000px;
		height: 450px;
		background-color: #E9EEF3;
		border-radius: 20px;
		margin-left: 25px;
		margin-top: 25px; 
	}
	#page{
		margin-top: 20px; 
		float: left;
		width: 100%;
		height: 50px;
		text-align: center;
	}
	</style>
</head>
<body>
	<div id="div">
	<div id="order1">
        {{getworker()}}
	<div id="order2">
	  <el-table :data="wData" @row-click="clickRow"  @selection-change="handleSelectionChange" style="border-radius: 20px;">
      	<el-table-column prop="wid" label="员工编号" width="150">
        </el-table-column>
        <el-table-column prop="wname" label="员工姓名" width="250">
        </el-table-column>
        <el-table-column prop="wphone" label="员工电话" width="200">
        </el-table-column>
        <el-table-column prop="wtype" label="工种" width="150">
        </el-table-column>
        <el-table-column label="操作" width="250">
        	<template slot-scope="scope">
        	 <el-button type="warning" @click="modify(scope.row)" >修改</el-button>
        	 <el-button type="danger" @click="del(scope.row)" >删除</el-button>
  	 	 	</template>
        </el-table-column>
      </el-table>
      <div id="page">
		<el-button-group >
 		 <el-button type="primary" icon="el-icon-arrow" @click="getFirst">首页</el-button>
 	  </el-button-group>
      <el-button-group v-for="page in pages" :key="page">
 		  <el-button type="primary" icon="el-icon-arrow" @click="getListPage(page)" >{{page}}页</el-button>
 		</el-button-group>
 		<el-button-group >
  		<el-button type="primary" icon="el-icon-arrow-rihgt" @click="getLast">尾页</el-button>
  		</el-button-group>
  		 <el-button type="success" @click="add" style="float: right; margin-right: 10px;">添加</el-button>
		</div>
    </div>
    </div>
    <el-dialog title="添加员工" :visible.sync="dialogadd" width="500px" height="400px">
		<el-form :model="form" status-icon  ref="form" size="medium" label-width="100px" style="">
      	<span style="color: #F56C6C; font-size: 10px; margin-left: 100px;" >{{err}}</span>
          <el-form-item label="姓名" :label-width="formLabelWidth" prop="wname" :rules="[
           { required: true, message: '姓名不能为空！', trigger: 'blur' },
           { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号'}
          ]" >
          <el-col :span="10">
          <el-input   clearable placeholder="请输入姓名" v-model="form.wname" ref="wname"></el-input>
          </el-col>
         </el-form-item>
         <el-form-item label="联系电话" :label-width="formLabelWidth" prop="wphone" :rules="[
          { required: true, message: '联系电话不能为空！', trigger: 'blur' },
          { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号'},
          { pattern: /^[1][3|5|7|8|9][0-9]+$/, message: '手机号格式错误'}
         ]"> 
         <el-col :span="10">
          <el-input   clearable placeholder="请输入联系电话" v-model="form.wphone" ref="wphone"></el-input>
          </el-col>
         </el-form-item>
         <el-form-item>
           <el-button type="success" @click="addC('form')" style="float: right; margin-right: 10px;">添加</el-button>
     	 </el-form-item>
       </el-form>
    </el-dialog>
     <el-dialog title="修改员工" :visible.sync="dialogmod" width="500px" height="400px">
		<el-form :model="form1" status-icon  ref="form1" size="medium" label-width="100px" style="">
      	<span style="color: #F56C6C; font-size: 10px; margin-left: 100px;" >{{err}}</span>
      	  <el-form-item label="编号" :label-width="formLabelWidth" prop="wid" :rules="[
           { required: true, message: '编号不能为空！', trigger: 'blur' },
           { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号'}
          ]" >
          <el-col :span="10">
          <el-input   clearable placeholder="请输入编号" v-model="form1.wid" ref="wid"></el-input>
          </el-col>
         </el-form-item>
          <el-form-item label="姓名" :label-width="formLabelWidth" prop="wname" :rules="[
           { required: true, message: '姓名不能为空！', trigger: 'blur' },
           { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号'}
          ]" >
          <el-col :span="10">
          <el-input   clearable placeholder="请输入姓名" v-model="form1.wname" ref="wname"></el-input>
          </el-col>
         </el-form-item>
         <el-form-item label="联系电话" :label-width="formLabelWidth" prop="wphone" :rules="[
          { required: true, message: '联系电话不能为空！', trigger: 'blur' },
          { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '不允许输入空格等特殊符号'},
          { pattern: /^[1][3|5|7|8|9][0-9]+$/, message: '手机号格式错误'}
         ]"> 
         <el-col :span="10">
          <el-input   clearable placeholder="请输入联系电话" v-model="form1.wphone" ref="wphone"></el-input>
          </el-col>
         </el-form-item>
         <el-form-item label="工种" prop="wtype" :rules="[
           { required: true, message: '工种不能为空！', trigger: 'blur' },]">
			<el-col :span="10">
			<el-select v-model="form1.wtype" placeholder="请选择">
		    <el-option
		      v-for="item in opt"
		      :key="item.value"
		      :label="item.label"
		      :value="item.value">
		    </el-option>
		  </el-select>
			</el-col>
		</el-form-item>
         <el-form-item>
           <el-button type="success" @click="modC('form1')" style="float: right; margin-right: 100px;">修改</el-button>
     	 </el-form-item>
       </el-form>
    </el-dialog>
	</div>
</body>
<script type="text/javascript">
new Vue({
	el:"#div",
	data:{
		 wData:[
		 {
		 	wid:"",
		 	wname:"",
            wpwd:"",
		 	wphone:"",
		 	wtype:"",
            whead_img:"",
		 }
		 ],
		 form:{
		 	wname:"",
		 	wphone:"",
		 },
		 form1:{
		 	wid:"",
		 	wname:"",
            wpwd:"",
		 	wphone:"",
		 	wtype:"",
             whead_img:"",
		 },
		 opt:[{
		 	 value: '服务',
             label: '服务'
        }, {
          value: '管理',
          label: '管理'
     
		 }], 
		formLabelWidth:'100px',
		pageSize:"3",//一页显示数量
		pageNum:"1",//当前页码
		pages:[],//总共页数
		pageFirst:"1",//首页
		pageLast:"",//尾页
		flag1:true,//获取worker集合
		dialogadd:false,//添加员工
		dialogmod:false,//修改员工
	},
	methods:{
	    getworker(){
	      var that = this;
	      if(that.flag1){
              axios.post("/showworkertype","pageNum="+that.pageNum+"&pageSize="+that.pageSize)
                  .then(function (response) {
                      if(response.data!=null){
                          that.flag1 = false;
                          that.wData = response.data.list;
                          that.pages = response.data.navigatepageNums;
                          that.pageFirst = response.data.navigateFirstPage;
                          that.pageLast = response.data.navigateLastPage;
                      }
                  }, function (err) {
                      alert(err);
                  });
          }
        },
		del(row){
            var that = this;
            var wid = row.wid;
            that.$confirm('确定删除此员工?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'success'
            }).then(() => {
                axios.post("/delworkertype","wid="+wid+"&pageNum="+that.pageFirst+"&pageSize="+that.pageSize)
                    .then(function (response) {
                        that.wData = response.data.list;
                        that.pages = response.data.navigatepageNums;
                        that.pageFirst = response.data.navigateFirstPage;
                        that.pageLast = response.data.navigateLastPage;
                        that.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                    }, function (err) {
                        alert(err);
                    });
            }).catch(() => {
                that.$message({
                    type: 'warning',
                    message: '取消删除'
                });
            });
		},
		modify(row){
			this.dialogmod = true;
            this.form1.wid = row.wid;
            this.form1.wname = row.wname;
            this.form1.wpwd = row.wpwd;
            this.form1.wphone = row.wphone;
            this.form1.wtype = row.wtype;
            this.form1.whead_img = row.whead_img;
		},
		add(){
			this.dialogadd = true;
			
		},
		addC(form){
			var that = this;
 			this.$refs[form].validate((valid) => {
	          if (valid) {
                  axios.post("/addworkertype","wname="+that.form.wname+"&wphone="+that.form.wphone+"&pageNum="+that.pageFirst+"&pageSize="+that.pageSize)
                      .then(function (response) {
                          that.wData = response.data.list;
                          that.pages = response.data.navigatepageNums;
                          that.pageFirst = response.data.navigateFirstPage;
                          that.pageLast = response.data.navigateLastPage;
                          that.dialogadd = false;
                          that.$message({
                              type: 'success',
                              message: '添加成功!'
                          });
                      }, function (err) {
                          alert(err);
                      });

	          } else {
	            console.log('error submit!!');
	            return false;
	          }
	        });
		},
		modC(form1){
			var that = this;
 			this.$refs[form1].validate((valid) => {
	          if (valid) {
                  axios.post("/modifyworkertype","wid="+that.form1.wid+"&wname="+that.form1.wname+"&wpwd="+that.form1.wpwd+"&wphone="+that.form1.wphone+"&wtype="+that.form1.wtype+"&whead_img="+that.form1.whead_img+"&pageNum="+that.pageFirst+"&pageSize="+that.pageSize)
                      .then(function (response) {
                          that.wData = response.data.list;
                          that.pages = response.data.navigatepageNums;
                          that.pageFirst = response.data.navigateFirstPage;
                          that.pageLast = response.data.navigateLastPage;
                          that.dialogmod = false;
                          that.$message({
                              type: 'success',
                              message: '修改成功!'
                          });
                      }, function (err) {
                          alert(err);
                      });
	          } else {
	            console.log('error submit!!');
	            return false;
	          }
	        });
		},
		getListPage(page){
			var that = this;
			var page = page;
				axios.post("/showworkertype", "pageNum=" + page + "&pageSize=" + that.pageSize)
						.then(function (response) {
                            if(response.data!=null){
                                that.wData = response.data.list;
                                that.pages = response.data.navigatepageNums;
                                that.pageFirst = response.data.navigateFirstPage;
                                that.pageLast = response.data.navigateLastPage;
                            }
						}, function (err) {
							alert(err);
						});
		},
		getFirst(){
			var that = this;
            axios.post("/showworkertype", "pageNum=" + that.pageFirst + "&pageSize=" + that.pageSize)
                .then(function (response) {
                    if(response.data!=null){
                        that.wData = response.data.list;
                        that.pages = response.data.navigatepageNums;
                        that.pageFirst = response.data.navigateFirstPage;
                        that.pageLast = response.data.navigateLastPage;
                    }
                }, function (err) {
                    alert(err);
                });
		},
		getLast(){
			var that = this;
            axios.post("/showworkertype", "pageNum=" + that.pageLast + "&pageSize=" + that.pageSize)
                .then(function (response) {
                    if(response.data!=null){
                        that.wData = response.data.list;
                        that.pages = response.data.navigatepageNums;
                        that.pageFirst = response.data.navigateFirstPage;
                        that.pageLast = response.data.navigateLastPage;
                    }
                }, function (err) {
                    alert(err);
                });
		},

	}
})
</script>
</html>