<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.deposit_system.mapper.WareHouseMapper">
    <select id="findall" resultType="com.example.deposit_system.entity.WareHouse" >
        select * from tb_warehouse
    </select>
    <select id="findOne" resultType="com.example.deposit_system.entity.WareHouse" parameterType="String">
        select * from tb_warehouse
        <if test="value != null">where city like '%${value}%' </if>
    </select>
    <select id="findbyid" resultType="com.example.deposit_system.entity.WareHouse" parameterType="Integer">
        select * from tb_warehouse where hid=#{hid}
    </select>
    <insert id="addWare" parameterType="com.example.deposit_system.entity.WareHouse">
        insert into tb_warehouse values (null,#{address},#{city},#{coordinate},#{hsize})
    </insert>
    <update id="modWare" parameterType="com.example.deposit_system.entity.WareHouse">
        update tb_warehouse set address=#{address},city=#{city},coordinate=#{coordinate},hsize=#{hsize} where hid =#{hid}
    </update>
    <delete id="delWare" parameterType="com.example.deposit_system.entity.WareHouse">
        delete from tb_warehouse where hid=#{hid}
    </delete>
</mapper>